.control-panel{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__input-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px black;

    &:focus{
      outline: none;
    }
  }

  &__input-select{
    width: 150px;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px black;

    &:focus{
      outline: none;
    }
  }

  &__btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__result{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px black;

    &-number{
      margin-right: 10px;
    }
  }
}